<!DOCTYPE html>
    <head>
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <style>
        .menu{
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
        }

        td{
            width: 250px;
            padding: 10px;
        }

        input[type=number]{
            width: 80px;
        }

        input[type=text]{
            width: 40px;
        }

        .addToCart span{
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 1px solid #ccc;
            text-align: center;
        }

        .add, .remove {
        cursor: pointer;
        }

        .placeOrder{
            margin-top: 40px;
        }

        .btn{
            text-align: center;
        }

        .form1{
            margin-left: 400px;
            
        }

        
      </style>
     
    
  </head>

      <body class="text-center">

        <nav class="navbar navbar-light bg-light header">
            <p  class="navbar-brand">
              <%= resName %>Orders
            </p>
          </nav>

     <form class="form-signin" action="/user/submitorder" method="POST">
        <div class="form1">
        <% for(var i=0; i<orders.length; i++){ %>
            <div class="row">
                <label class="col-2"><%= orders[i].orderId %></label>
                
                <label class="col-2">
                
                  <!-- <label for="count" name="<%= i%>" id="<%= i%>" class="count">0</label> -->
                  <h6><%= orders[i].items.bill %></h6>
                </label>
                
            </div>
            <% } %>
        </div>
        <button type="submit" class="btn btn-primary placeOrder">Order Completed</button>
     </form>


     <script>
   

    // function substract(id) {
    //     var newCount = parseInt($(id).val()) - 1;
    //     $('input[type=text]'+id).val(Math.max(0,newCount));
    // }
        
    </script>
    </body>
</html>