<!DOCTYPE html>
    <head>
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <style>
        .menu{
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
        }

        

        td{
            width: 250px;
            padding: 10px;
        }

        input[type=number]{
            width: 80px;
        }

        input[type=text]{
            width: 40px;
        }

        .addToCart span{
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 1px solid #ccc;
            text-align: center;
        }

        .add, .remove {
        cursor: pointer;
        }

        .placeOrder{
            margin-top: 40px;
        }

        .btn{
            text-align: center;
        }

        .form1{
            margin-left: 400px;
            
        }

        
      </style>
     
    
  </head>

      <body class="text-center">

        <nav class="navbar navbar-light bg-light header">
            <p class="navbar-brand">
              <%= resName %>
            </p>
          </nav>

     <form class="form-signin" action="/user/submitorder" method="POST">
        <div class="form1">
         <div class="row">
             <h6 class="col-2">Food</h6>
             <h6 class="col-2">Price</h6>
             <h6 class="col-2">Quanity</h6>
        </div>
        <% for(var i=0; i<food.length; i++){ %>
            <div class="row">
                <label class="col-2"><%= food[i] %></label>
                <label class="col-2"><%= price[i] %></label>
              
                <label class="col-2">
                
                  <!-- <label for="count" name="<%= i%>" id="<%= i%>" class="count">0</label> -->
                  <input type="text" name="<%=i%>" id="<%=i%>" value="0">
                  <span  class="btn btn-primary add" onclick="add('#<%= i %>')">+</span>
                  <span  class="btn btn-primary remove" onclick="substract('#<%= i%>')">-</span>
                </label>
            </div>
            <% } %>
        </div>
        <button type="submit" class="btn btn-primary placeOrder">Place Order</button>
     </form>


     <script>
    function add(id) {
        console.log('here', id);
        console.log($(id).val());
        var newCount = parseInt($(id).val()) + 1;
        // $(id).text(newCount);
        $('input[type=text]'+id).val(newCount);
    }

    function substract(id) {
        var newCount = parseInt($(id).val()) - 1;
        $('input[type=text]'+id).val(Math.max(0,newCount));
    }
        
    </script>
    </body>
</html>