<!DOCTYPE html>
    <head>
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <style>
        .menu{
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
        }

        td{
            width: 250px;
            padding: 10px;
        }

        input[type=number]{
            width: 80px;
        }

        input[type=text]{
            width: 40px;
        }

        .addToCart span{
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 1px solid #ccc;
            text-align: center;
        }

        .add, .remove {
        cursor: pointer;
        }

        .header{
            margin-bottom: 20px;
        }

        .footer{
            margin-top: 50px;
        }

        .btn{
            text-align: center;
        }

        .form1{
            margin-top: 20px;
            margin-left: 400px;
            
        }

        
      </style>
     
    
  </head>

      <body class="text-center">

        <nav class="navbar navbar-light bg-light header">
            <p class="navbar-brand">
              Order Summary
            </p>
          </nav>

        <div class="row">
            <h6 class="col-12">Name: <%= user.name %></h6>
        </div>
        <div class="row">
            <h6 class="col-12">Email: <%= user.email %></h6>
        </div>
        <div class="row">
            <h6 class="col-12">Phone Number: <%= user.phoneNo %></h6>
        </div>
        <div class="row">
            <h6 class="col-12">Address: <%= user.address %></h6>
        </div>

     <form class="form-signin" action="/user/orderPlaced" method="POST">
        <div class="form1">
         <div class="row">
             <h6 class="col-2">Food</h6>
             <h6 class="col-2">Price</h6>
             <h6 class="col-2">Quanity</h6>
        </div>
        <% for(var i=0; i<order.length; i++){ %>
            <div class="row">
                <label class="col-2"><%= order[i][0] %></label>
                <label class="col-2"><%= order[i][1] %></label>
                <label class="col-2"><%= order[i][2] %></label>
                    
            </div>
            <% } %>
        </div>
        
        <input type="hidden" value="<%= resName %>" name="resName">
        <div class="footer">
        <label class="col-2">Final Order: <%= bill %></label>
        <button type="submit" class="btn btn-primary placeOrder">Place Order</button>
        </div>
     </form>

    </body>
</html>